snippet pitem
	* ${1}. **${2}**
	
	{% blockquote %}
	${3}
	{% endblockquote %}
	
	[${4}]($4)
	
	


snippet bq
	{% blockquote %}
	${1}
	{% endblockquote %}


snippet dk
	description: "${1}"
	keywords: "${2}"
